$primaryColor: #0000ffff;
$secondaryColor: #008000ff;
$thirdColor: #9bc02aff;
$nextColor: #2b202aff;

html {
	font-family: Prompt-Regular, sans-serif;
}

.logo {
	position: relative;

	width: 100%;
	height: 140px;


	background: url("@/images/webpack.png") no-repeat;
}

.container {
	display: flex;
	justify-content: center;

	margin: 0 auto;

	&__title {
		color: $primaryColor;
	}

	&__text {
		color: $secondaryColor;
	}
}
