$primaryColor: #0000ffff;
$secondaryColor:  #008000ff;
$thirdColor: #9bc02aff;
$nextColor: #2b202aff;

html {
	font-family: "Prompt-Regular";
}

.logo {
	background: url("@/images/webpack.png") no-repeat;
	height: 140px;
	width: 100%;
	position: relative;
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: center;

	&__title {
		color: $primaryColor;
	}

	&__text {
		color: $secondaryColor;
	}
}
