include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .logo
        .angular
           +image('angular.png')
        .container
            h1.container__title Hello Webpack Collector!
            p.container__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, ratione!
            .test TEST DIV